alias ll='ls -a'
alias hup='homesick symlink home-files && source ~/.zshrc && vim +PluginInstall +qall && clear'
alias ls='ls -G'
alias blender='/Applications/blender.app/Contents/MacOS/blender'
alias cdh='cd ~/.homesick/repos/home-files/home'