# Add some easy shortcuts for formatted directory listings and add a touch of
# colour
alias ls='ls -FG'
alias ll='ls -lFG'
alias la='ls -alFG'

# Back up home files to github
alias cdh='cd ~/.homesick/repos/home-files/home'
alias hup='cdh && sh ~/.homesick/repos/home-files/commit.sh && source ~/.zshrc && cd - && clear'

# Github aliases
alias gs="git status"
alias gd="git diff --color"
alias gdc="git diff --cached --color"
alias gl="git log"
alias gls="git log --oneline"
alias gprum="git pull --rebase upstream master"
alias gitprim="git pull --rebase upstream master"
alias gitpom="git push origin master"

# Make grep more user friendly by highlighting matches
alias grep='grep --color=auto'
alias greps='ps aux | grep'

alias vi='vim'
alias j=z
alias myip="ipconfig getifaddr en0"

export PATH="/usr/local/bin:$HOME/.composer/vendor/bin:$PATH"

# Wonga dev aliases
alias bastion="tim.hyson@172.16.0.9"
alias resetdev="drush wdid NEWEST -y && ./deploy/UK/WIP/post-deploy && drush updatedb -y && drush fra -y && bowerinstall --allow-root && entities && (setdevuk)"
alias setdevuk="drush en wonga_development -y;
                drush en wonga_static_mock -y;
                drush en wonga_session_setup -y;
                drush en wonga_journey_simple_devel -y;
                drush dis wonga_autologout wonga_qubit -y;
                drush vset preprocess_js 0 -y;
                drush vset preprocess_css 0 -y;
                drush en devel -y;
                drush role-add-perm 'anonymous user' 'access devel information';"
alias bowerupdate="rm -rf bower_components && bower cache clean && bower install"
alias entities="php phpunit/lib/GenerateMessageEntities.php"
alias phpuuk='phpunit -c phpunit/config.xml --testsuite "CL_UK"'
alias setpassuk="mysql -uroot -pPassw0rd wonga_uk -e \"UPDATE users SET pass = 'd41e98d1eafa6d6011d3a70f1a5b92f0' WHERE uid = 1\""
alias test="phpunit --configuration phpunit/config.xml"
# run service (e2e) tests against the desktop profile
alias stest='() { mvn test -Pdev -Dtest=com.wonga.tests.ll.uk."$1"#"$2" }'
# run service (e2e) tests against the mobile profile
alias stestmob='() { mvn test -PdevMobile-iPhone -Dtest=com.wonga.tests.ll.uk."$1"#"$2" }'
# Drush aliases
alias dcc="drush cache-clear all"
alias dfr="drush features-revert-all"

# Spin up servers for service tests
alias sel_node='cd ~/selenium; java -jar selenium-server-standalone-2.47.1.jar -role node -hub http://localhost:4444/grid/register'
alias sel_server='cd ~/selenium; java -jar selenium-server-standalone-2.47.1.jar -role hub'
alias sel_standalone='cd ~/selenium; java -jar selenium-server-standalone-2.47.1.jar'

# Angular 2 aliases
alias nng="node_modules/.bin/ng"
